.logo {
    width: 150px;
    height: 100px;
}
/*marquee*/
.marquee{
    width: 100%;
    height: 50px;;
}
.marquee p{
    animation: scroll-left 20s linear infinite;
}   
@keyframes scroll-left {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }

}
#mar{
    background-image: url(gradient2jpg.jpeg) ;
    background-size: cover;
    font-size : 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-weight:bold;
    width: 100%;
}

.body{
    background-image: url(gradient.jpg.jpeg);
}


 .main {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.searchbar {
    padding: 15.5px;
    width: 350px;

}

.row2 {
    text-align: justify;
    padding: 20px;
    display: flex;
    padding-left: 50px;
}
.searchb{
    padding-left: 70px;
}
.logob {
    width: 20%;
}

.search {
    width: 40%;
    text-align: center;
}

.location1 {
    padding-left: 50px;
    width: 1%;
}
.locarea1{
    width: 15%;
    padding-top: 2px;
    
    height: 20px;
}
.location2{
    width: 1%;
    padding-left: 70px;
}   
.arimen, .smart2 {
    background-color: rgb(180, 86, 199);
    border: 0px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding: 0;
    margin: 0;
}


.arimen, .smart2 {
    color: white;
    font-size: 18px;
    height: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.arimen:hover, .smart2:hover{
    color: black;
}

.ari2, .smart4 {
    border: 0;
    padding-left: 10px;

}

.arival, .smart1 {
    height: 20px;
    border: 0;
    font-size: 50px;
    background-color: rgb(180, 86, 199);
    padding: 0%;
    padding-top: 4px;
}
.aridown, .smartdown{
    display: none;
    position: absolute;
    background-color: rgb(180, 86, 199);
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.aridown a, .smartdown a, .audio3 a{
    
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.arril, .smart{
     position: relative;
    display: inline-block;
}
.arril:hover, .smart:hover{
    background-color: rgb(180, 86, 199);
}
.aridown a:hover ,.smartdown a:hover, .audio3 a:hover{
    background-color: rgb(180, 86, 199);
    color: black;
}
.arril:hover .aridown, .smart:hover .smartdown{
    display: block;
}
.aud, .acc, .us, .log, .cart{
    font-size: 18px;
    background-color: rgb(180, 86, 199);
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.aud a, .acc a, .us a, .log a, .cart a{
    color: white;
    text-decoration: none;
}

.aud a:hover, .acc a:hover, .us a:hover, .log a:hover, .cart a:hover{
    color: black;
}
@media (max-width: 768px) {
    .main { flex-direction: column; text-align: center; }
    .location-container { flex-direction: column; gap: 10px; }
    .menu li { width: 100%; text-align: center; }
    .dropdown-content { position: static; width: 100%; }
}