 body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0;
     background-color: white;
     transition: 0.5s;
 }

 .container {
     margin: auto;
     padding: 30px;
     padding-left: 15%;
 }

 .wrapper {
     width: 100%;
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
 }

 .text {
     flex-basis: 45%;
 }

 .all-images {
     height: 80vh;
     display: flex;
 }

 .small-images {
     display: flex;
     flex-direction: column;
 }

 .small-images img {
     height: 19vh;
     margin-bottom: 9px;
     cursor: pointer;
     opacity: 0.6;
 }

 .small-images img:hover {
     opacity: 1;
 }

 .main-images img {
     height: 100%;
 }

 p {
     margin-bottom: 20px;
 }

 .brand {
     background-color: rgb(255, 0, 255);
     width: fit-content;
     color: #000;
     font-size: 20px;
     font-weight: bold;
     padding: 2px 5px;
 }

 h2 {
     font-size: 35px;
     color: #000;
     margin-bottom: 20px;
 }

 .review {
     background-color: rgba(87, 161, 86, 0.493);
     display: inline-block;
     color: #000;
     padding: 4px;
     border-radius: 5px;
     font-size: 15px;
 }

 .price-box {
     display: flex;
     align-items: center;
 }

 .price {
     color: #1d1c1c;
     font-size: 26px;
     font-weight: bold;
     padding-top: 10px;
     padding-right: 10px;
 }

 input {
     width: 40px;
     border: 1px solid #ccc;
     font-weight: bold;
     text-align: center;
 }

 button {
     width: 140px;
     color: #fff;
     font-size: 15px;
     border: none;
     border-radius: 5px;
     background-color: #fe980f;
     padding: 10px 15px;
     cursor: pointer;
     margin-right: 10px;
 }

 button .fa {
     margin-right: 10px;
 }

 .buy {
     background-color: rgb(201, 97, 57);
 }

 /* Responsive */
 @media (max-width:1200px) {
     .wrapper {
         flex-direction: column;
         padding: 5% 0;
     }

     .text {
         padding-top: 50px;
     }

     .all-images {
         flex-direction: column;
         height: auto;
     }

     .small-images {
         flex-direction: row;
         justify-content: space-evenly;
         order: 1;
     }

     h2 {
         font-size: 25px;
     }
 }

 /*search changes*/
 .side {
     flex-direction: row;
     display: flex;
 }

 .sidebar {
     width: 18.5%;
     background: white;
     padding: 16px;
     height: fit-content;

 }

 .main-content {
     width: 84%;
     padding: 30px;
 }

 .mainpart {
     display: flex;
     flex-direction: row;
 }

 .search_bar {
     width: 90%;
     display: flex;
     margin-bottom: 30px;
 }

 .searchbox {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: left;
     color: #000;
     width: 50%;
     height: 48px;
     margin: 0;
 }

 .searchbtn {
     display: flex;
     padding: 0;
     margin: 0;
     width: fit-content;
     height: fit-content;
     cursor: pointer;
 }

 .menu {
     display: flex;
     width: 10%;
 }

 .hidemenu {
     display: flex;
     width: fit-content;
     height: fit-content;
     padding: 0;
     right: 0;
     border: none;
     margin-left: 20px;
     margin-top: 5px;
     cursor: pointer;
 }

 .side-bar {
     position: fixed;
     top: 0;
     right: 0;
     padding-top: 1px;
     width: 250px;
     height: 100vh;
     display: none;
     background-color: black;
     flex-direction: column;
     justify-content: space-evenly;
     overflow: auto;
 }

 .smbar-list {
     color: aliceblue;
     font-size: 20px;
 }

 .side-bar ul {
     list-style-type: none;
     text-align: left;
     padding: 5%;
     font-size: 20px;
 }

 .side-bar ul a {
     padding-left: 20px;
     border-left: 3px solid black;
     transition: 0.3s;
     color: aliceblue;
     text-decoration: none;
 }

 .side-bar ul a:hover {
     color: rgb(180, 86, 199);
     border-left: rgb(180, 86, 199);
     box-shadow: inset 50px 0px 40px -40px rgb(203, 58, 232);
 }

 .arr-list {
     padding-left: 40px;
 }

 .close {
     width: fit-content;
     height: fit-content;
     margin-left: 75%;
     margin-top: 10px;
     background-color: black;
     border: 0;
     cursor: pointer;
 }

 .close:hover {
     box-shadow: 0 5px 15px rgb(180, 86, 199);
 }

 .sh-prt1 {
     position: relative;
     width: 100%;
     margin: 0;
 }

 #suggestions-list {
     width: 50%;
     height: fit-content;
     list-style-type: none;
     padding: 0;
     display: none;

 }

 #suggestions-list li a {
     border: 1px solid #ddd;
     margin-top: -1px;
     background-color: #f6f6f6;
     padding: 12px;
     text-decoration: none;
     display: block;
 }

 /*footer*/
 .footer {
    background: linear-gradient(135deg, #cfd4ecf1 0%, #f6dbfd 100%);
     display: flex;
     justify-content: center;
     width: auto;
     font-family: Arial, sans-serif;
     box-sizing: border-box;
     padding: 30px;
    
 }

 .footer-left,
 .footer-middle,
 .footer-right {
     flex: 1;
     padding: 10px;
     padding-left: 8%;
 }

 .footer-left p {
     line-height: 1.4;
     text-align: left;
     width: 80%;
 }

 .logo {
     width: 200px;
     height: 200px;
     margin-bottom: 20px;
 }

 .footer-center {
     text-align: center;
 }

 .pay {
     width: 100px;
     margin: 40px 0;
     display: block;
     align-items: center;
 }

 .social-icons {
     width: 120px;
     height: 70px;
     margin: 20px 0;
     align-items: center;
     display: block;
 }

 .footer-middle h3 {
     margin-bottom: 10px;
     margin-top: 80px;
     font-size: 22px;
 }

 .footer-middle p {
     margin: 2px 0;
     font-size: 15px;
 }

 .footer-right h3 {
     margin-bottom: 10px;
     margin-top: 80px;
     font-size: 22px;
 }

 .footer-right p {
     margin: 2px 0;
     font-size: 15px;
 }