body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    background-color: rgb(28, 27, 27);
    color: white;
    transition: 0.5s;

}

.login-box {
    border: 1px solid #ccc;
    height: fit-content;
    width: fit-content;
    padding: 30px 30px 30px 30px;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(203, 58, 232);
    display: flex;
    flex-direction: row;
    background: linear-gradient(45deg, black, rgb(79, 18, 91));
}

.row {
    margin-bottom: 15px;
    width: 100%;
}

.fname,
.lname,
.address,
.phonenumber,
.email,
.username,
.password,
.confirmpassword {
    margin-top: 10px;
    background: transparent;
    border: 2px solid white;
    height: 30px;
    width: 100%;
    color: white;
    border-radius: 20px;
}

.back, .reg {
    padding: 6px;
    width: fit-content;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 15px;
    cursor: pointer;
    backface-visibility: hidden;
    color: white;
    font-family: inherit;
    font-weight: bold;
    border: 3px solid rgb(203, 58, 232);
    background: transparent;

}

.back:hover, .reg:hover {
    background: linear-gradient(rgb(28, 27, 27), rgb(203, 58, 232));
}

.content1 {
    width: fit-content;
}

.content2 {
    float: left;
    left: 0;
    width: fit-content;
    margin-right: 25px;
    padding: 30px;
    padding-top: 20px;
    text-align: left;
}
.content3{
    float: right;
    right: 0;
    width: fit-content;
    margin-top: 45px;
    margin-left: 100px;
    padding: 30px;
    padding-top: 20px;
}